@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    /*======== COLORS ========*/
    --white-color: hsl(0, 0%, 98%);
    --grayish-blue: #87879D;
    --black-color: #28283D;
    --default1-color: hsl(192, 37%, 48%);
    --default2-color: hsl(268, 34%, 53%);
    --default1-hover: #90e4f9;
    --default2-hover: hsl(268, 100%, 86%);
    --button1-hover: #8FE3F9;
    --button2-hover: #D9B8FF;

    /*======== FONT FAMILY =========*/
    --body-font: "Red Hat Display", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    cursor: pointer;
    width: 100%;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
}
body{
    text-align: center;
    max-width: 100%;
}
h1,
p,
a{
    font-family: var(--body-font);
}
.hero__name{
    position: relative;
}
.hero__title{
    margin: 2rem 0;
    font-weight:  900;
}
.hero__title::before{
    content: '';
    position: absolute;
    top: 15%;
    left: 33%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--default2-color);
}
.hero__name::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 29%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--default1-color);
}
.desktop__hero-image{
    display: none;
}
.mobile__image img{
    max-width: 110%;
    margin: 0 -5%;
}
.hero__element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}
.content-title{
    font-size: 2.7rem;
    margin: 2rem 0 1.5rem 0;
    font-weight: 900;
    color: var(--black-color);
}
.content-subtitle{
    color: var(--grayish-blue);
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 26px;
}
.btn{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.btn a{
    text-decoration: none;
    color: var(--white-color);
    border-radius: 50px;
    font-weight: 700;
}
.btn a:nth-child(1){
    padding: 1.2rem 2.5rem;
    background-color: var(--default1-color);
    transition: all 0.2s ease-in-out;
}
span{
    padding-left: .3rem;
    color: var(--default1-hover);
}
.btn a:nth-child(2){
    margin: 1rem 1rem 6rem 1rem;
    padding: 1.2rem 2.5rem ;
    background-color: var(--default2-color);
}
.num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.num p {
    position: relative; 
    border: 1px solid #aaaaba;
    color: var(--grayish-blue);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-weight: 900;
}

.num p::after {
    content: '';
    position: absolute;
    top: -50px; 
    left: 50%; 
    transform: translateX(-50%) rotate(90deg); 
    width: 100px;
    height: .5px;
    background-color: #aaaaba;
}
.container-image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: -1rem; /*having an issue here remeber to change this using media query */
    margin: 4rem  24px 0 24px;
}
.container-image img{
    width: 45%;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.main-text{
    margin: 0 24px;
}
.main-text h3,
h1{
    margin-bottom: 1.5rem;
}
.main-text h3{
    text-transform: uppercase;
    color: var(--default1-color);
    letter-spacing: .19rem;
    font-family: var(--body-font);
    font-weight: 900;
    margin-top: 4rem;
    font-size: 1.1rem;
}
.main-text h1{
    font-size: 30.5px;
    font-weight: 900;
    color: var(--black-color);
}
.main-text p{
    color: var(--grayish-blue);
    font-size: 1rem;
    margin-bottom: 10rem;
    line-height: 26px;
}
.footer-content{
    background: linear-gradient(hsla(192,37%,48%,0.8),hsla(192,37%,48%,0.8)),url(images/image-footer.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    color: var(--white-color);
    padding: 0 2rem;
}
footer a{
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--default2-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 1.2rem 2.5rem;
}
footer .num{
    position: relative;
}
footer .num p {
    position: absolute;
    bottom: 10%;
    transform: translate(0, 50%);
    background-color: var(--white-color);
}
footer span{
    padding-left: .3rem;
    color: var(--default2-hover);
}
footer a{
    border-radius: 50px;
    font-weight: 700;
    background-color: var(--default2-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 1.2rem 2.5rem;
}
.footer-content p{
    font-size: 18px;
    margin-bottom: 1.5rem;
}
